{% extends 'app.twig' %}

{% block content %}
    <div class="container">
        <h1>Edit task</h1>

        <form action="{{ "/tasks/"~task.id|url }}" method="POST" enctype="multipart/form-data">
            {% include 'task/form.twig' %}
        </form>
    </div>
{% endblock %}